<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Results</title>
</head>
<body>
    <h1>Results</h1>
    <tr>
        <th>Filename</th>
        <th>Prediction</th>
    </tr>
    <tr>
        {% for result in results %}
        <td> {result['filename']}</td>
        <td> {result['prediction']} </td>
        {% endfor %}
    </tr>

</body>
</html>